apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  labels:
    environment: staging
  name: project-server-staging

namespace: staging
resources:
- ../../base

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: LOG_ONLY
        value: "true"
  target:
    kind: Deployment
    name: broadcaster-dep
- patch: |-
    - op: replace
      path: /stringData/POSTGRES_HOST
      value: "postgres-svc.staging.svc.cluster.local"
  target:
    kind: Secret
    name: postgres-secret

images:
- name: PROJECT/IMAGE_BACKUP
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/backup-service
  newTag: main-a34cb8f6b3f1d06ce2fe27e9475a41ceae0c831d
- name: PROJECT/IMAGE_BROADCASTER
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/broadcaster
  newTag: main-a34cb8f6b3f1d06ce2fe27e9475a41ceae0c831d
- name: PROJECT/IMAGE_RANDOM
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/random-article
  newTag: main-a34cb8f6b3f1d06ce2fe27e9475a41ceae0c831d
- name: PROJECT/IMAGE_SERVER
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/project_server
  newTag: main-a34cb8f6b3f1d06ce2fe27e9475a41ceae0c831d
- name: PROJECT/IMAGE_TODO
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/todoapp
  newTag: main-a34cb8f6b3f1d06ce2fe27e9475a41ceae0c831d
- name: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/backup-service
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/backup-service
  newTag: main-77ad1305a980d6dad1a793f7b2b1ff1710016e77
- name: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/broadcaster
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/broadcaster
  newTag: main-77ad1305a980d6dad1a793f7b2b1ff1710016e77
- name: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/project_server
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/project_server
  newTag: main-77ad1305a980d6dad1a793f7b2b1ff1710016e77
- name: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/random-article
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/random-article
  newTag: main-77ad1305a980d6dad1a793f7b2b1ff1710016e77
- name: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/todoapp
  newName: europe-west1-docker.pkg.dev/our-reason-470418-t4/my-repository/zelhs/todoapp
  newTag: main-77ad1305a980d6dad1a793f7b2b1ff1710016e77
